@model SushiPop.Models.Descuento

@{
    ViewData["Title"] = "Detalle de Descuento";
    var _culture = System.Globalization.CultureInfo.GetCultureInfo("es-ES");
}

<h1>Detalle de Descuento</h1>

<div>
    <h4>Descuento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @_culture.TextInfo.ToTitleCase(_culture.DateTimeFormat.DayNames[Model.Dia])
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescuentoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescuentoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
